<div class="container">
  <div class="article">
      <h2> Know more about us</h2>
  </div>
  <div class="nav-list nav-list-around short-width">
      <a href="#" title="discover">Discover</a>
      <a href="#" title="people">People</a>
  </div>
  <!-- card1 -->
  <div class="card1">
      <div class="card">
          <div class="card__border-1">
              <div class="card__picture">
                  <a href="#" title="card-detail">
                      <img src="https://via.placeholder.com/364x205" alt="card picture"/>
                  </a>
              </div>
              <div class="card__topic-time">
                  <div class="card__time-posting">JUNE 22, 2018</div>
                  <div class="card__topic-posting">NUTRITION</div>            
              </div>
              <div class="card__content">
                  <div class="card__title">
                      <a href="#" title="card-detail">
                          <strong>Swim through the summer</strong>
                      </a>
                  </div>
                  <p>Hot days call for ice-cream! Just because you are on the cure, it doesn't mean you have to miss out, with our Chef's...</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card__border-1">
              <div class="card__picture">
                  <a href="#" title="card-detail">
                      <img src="https://via.placeholder.com/360x210" alt="card picture"/>
                  </a>
              </div>
              <div class="card__topic-time">
                  <div class="card__time-posting">JUNE 17, 2018</div>
                  <div class="card__topic-posting">MEDICINE</div>            
              </div>
              <div class="card__content">
                  <div class="card__title">
                      <a href="#" title="card-detail">
                          <strong>Water, the elixir of life</strong>
                      </a>
                  </div>
                  <p>Hot days call for ice-cream! Just because you are on the cure, it doesn't mean you have to miss out, with our Chef's...</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card__border-1">
              <div class="card__picture">
                  <a href="#" title="card-detail">
                      <img src="https://via.placeholder.com/364x205" alt="card picture"/>
                  </a>
              </div>
              <div class="card__topic-time">
                  <div class="card__time-posting">JUNE 22, 2018</div>
                  <div class="card__topic-posting">NUTRITION</div>            
              </div>
              <div class="card__content">
                  <div class="card__title">
                      <a href="#" title="card-detail">
                          <strong>Adeliciouslt cool treat for a hot sunny day</strong>
                      </a>
                  </div>
                  <p>Hot days call for ice-cream! Just because you are on the cure, it doesn't mean you have to miss out, with our Chef's...</p>
              </div>
          </div>
      </div>
  </div>

  <div class="all-article">
      <a href="#" title="All article"  >See all articles</a>
  </div>
</div>