<header>
  <div class="container">
    <div class="header">
      <div class="header__lang">
        <a href="#" title="English">Eng</a>
        <a href="#" title="Chinese">Chinese</a>
        <a href="#" title="De">De</a>
      </div>

      <div class="header__content">
        <h1><a href="#" title="logo"><img src="https://via.placeholder.com/300x200" alt="logo" /></a></h1>
        <nav>
          <div class="nav-list nav-list-header">
            <a href="#" title="F.X.Mayr">F.X.Mayr</a>
            <a href="#" title="People">People</a>
            <a href="#" title="Discover">Discover</a>
            <a href="#" title="Contact us">Contact us</a>
            <a href="Wechat:abassc" title="wechat"><i class="fa fa-weixin black" aria-hidden="true"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>