<div class="main-info">
  <img src="https://via.placeholder.com/1920x640" alt="main-image1"/>
  <div class="container">
      <div class="main-info__content">
          <p>Enjoy
          Regenerate 
          Experience</p>
          <a href="#" title="discover">Discover</a> 
      </div>
  </div>
</div>
<!--main-info-->
<div class="container">
  <div class="article">
      <h2>China's Leader in Innovative and Preventative Medicine</h2>
  </div>
  <div class="article__content">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <div class="follow">
          <div class="scan"><img src="https://via.placeholder.com/100x100" alt="follow on wechat"/></div> 
          <p>Follow us on Wechat</p>
      </div>
  </div>
</div>